<div class="bg-gray-900 flex flex-col items-center p-4 w-full size">
  <h1 class="text-5xl uppercase font-bold text-white">Doação</h1>
  <div class="self-center p-4 mt-4">
    <h2 class="text-3xl text-center font-semibold text-white">
      Informações bancarias
    </h2>
    <div class="mt-2 flex gap-4 text-xl text-white">
      <div class="self-center">
        <h2>Nome: Hiego Rodrigo Gomes Pasquali</h2>
        <h2>CPF: 300.014.148-01</h2>
        <div class="my-2">
          <h1>Banco: 380 - PicPay Seviços S/A.</h1>
          <h1>Ag: 0001</h1>
          <h1>Conta: 87584232-1</h1>
        </div>
        <div>
          <h1>Pix: 2e56277e-0b56-464c-a807-faaac35a5bcf</h1>
        </div>
      </div>

      <div class="text-center self-center">
        <h2>QR Code do PIX</h2>
        <img src="/images/QR_code.jpeg" alt="" class="w-80 h-80 rounded-xl" />
      </div>
    </div>
  </div>
</div>
