<div
  class="bg-[#022b54] bg_bubles flex flex-col items-center p-4 w-full size text-[#fffffe]"
  id="doacao"
>
  <h1 class="text-5xl uppercase font-bold font-main">Doação</h1>
  <div class="self-center p-4 mt-4">
    <h2 class="text-3xl text-center font-main">Informações bancarias</h2>
    <div class="mt-2 flex flex-col md:flex-row gap-4 text-xl">
      <div class="self-center p-4">
        <h2>Nome: Hiego Rodrigo Gomes Pasquali</h2>
        <h2>CPF: 300.014.148-01</h2>
        <div class="my-2">
          <h1>Banco: 380 - PicPay Seviços S/A.</h1>
          <h1>Ag: 0001</h1>
          <h1>Conta: 87584232-1</h1>
        </div>
        <div>
          <h1>Pix: 2e56277e-0b56-464c-a807-faaac35a5bcf</h1>
        </div>
      </div>

      <div class="text-center self-center">
        <h2>QR Code do PIX</h2>
        <img
          src="/images/QR_code.jpeg"
          alt=""
          class="w-80 h-80 rounded-xl p-2 border-2 border-[#0ab7b3]"
        />
      </div>
    </div>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&family=Anton&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
  .font-main {
    font-family: "Alexandria", sans-serif;
  }

  .bg_bubles {
    background-image: url("/bubles.svg");
    background-size: cover;
    background-repeat: ;
  }
</style>
