---
import Navbar from "../navbar/Navbar.astro";
---

<div class="bg-img">
  <div class="bg-[#202734]/70 w-full h-full">
    <Navbar />
    <div class="w-full h-full flex items-center">
      <div class="mb-24 ml-24 w-1/3 text-[#6db2b2] p-4">
        <h1 class="text-5xl text-[#ebeef5] font-bold">
          Dando esperança para aqueles que precisam atraves do esporte.
        </h1>
        <h2 class="text-2xl font-semibold mt-2">
          Não deixe com que o sonho de quem mais precise acabe.
        </h2>
      </div>
    </div>
  </div>
</div>

<style>
  .bg-img {
    width: 100%;
    height: 800px;
    background-image: url("/images/bg_main.jpeg");
    background-attachment: fixed;
    background-size: cover;
  }
</style>
