---
import Navbar from "../navbar/Navbar.astro";
---

<div class="bg-img" id="home">
  <div class="bg-[#022b54]/60 w-full h-full">
    <Navbar />
    <div class="w-full h-full flex items-center">
      <div
        class="mb-24 md:ml-24 w-11/12 mx-auto xl:w-1/3 md:w-2/4 text-[#0ab7b3] bg-[#022b54]/30 p-8 rounded-3xl shadow-sm"
      >
        <h1 class="text-3xl md:text-6xl text-[#fffffe] font-bold font-main">
          Dando esperança para aqueles que precisam através do esporte.
        </h1>
        <h2 class="text-xl md:text-3xl font-semibold mt-2 font-main">
          Não deixe com que o sonho de quem mais precise acabe.
        </h2>
      </div>
    </div>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Anton&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");

  .bg-img {
    width: 100%;
    height: 800px;
    background-image: url("/images/bg_main2.jpg");
    background-attachment: fixed;
    background-size: cover;
  }

  @media (max-width: 420px) {
    .bg-img {
      background-position: center;
    }
  }

  .font-main {
    font-family: "Lobster Two", cursive;
  }
</style>
