<div class="bg-gray-700 flex flex-col items-center p-4 w-full size">
  <h1 class="text-6xl uppercase font-bold text-white">Sobre nós</h1>
  <div class="self-center p-4 mt-4">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut
      condimentum est, vel ornare lacus. Pellentesque eget fermentum ante.
    </p>
    <h1>Contato</h1>
  </div>
</div>

<style>
  .size {
    height: 400px;
  }
</style>
