<div class="bg-[#fffffe] flex flex-col items-center p-4 w-full" id="sobre">
  <h1 class="text-4xl text-center uppercase font-bold text-[#022b54] font-main">
    Sobre o projeto
  </h1>
  <div class="flex flex-col gap-2 justify-center">
    <div
      class="self-center p-4 mt-4 md:text-xl text-[#022b54] text-center md:w-11/12 xl:w-2/3 font-main"
    >
      <p class="m-2">
        A Escola de Esportes Surfar foi fundada em Itanhaém, em 2020, pelo
        professor Hiego Gomes em colaboração com sua esposa Cristiany Gomes.
        Hiego, com sua experiência em um projeto de atendimento a crianças
        carentes, pensou em um novo projeto para incluir crianças e jovens com
        deficiência físicas e necessidades especiais no mundo do surfe.
      </p>
      <p class="m-2">
        Pela grande demanda dos pais dessas crianças e jovens em busca de
        atividades físicas para seus filhos, a ideia se concretizou. A escola
        disponibiliza um dia da semana para que o professor, de forma
        voluntária, ou seja, sem custos para as famílias, possa se dedicar a
        esse trabalho, ministrando aulas de surfe e surfeskate.
      </p>
      <p class="m-2">
        A escola tem o compromisso de repassar os fundamentos básicos da
        modalidade, além de resgatar a cultura do surfe de maneira moderna,
        educando e possibilitando um aprendizado individualizado e adequado às
        necessidades dos alunos. Através de uma pedagogia simples e de fácil
        compreensão, proporciona, além do surfe, treinamento das variáveis do
        esporte, bem como uma educação ecológica, conscientizando os alunos
        sobre a necessidade da preservação das praias e do respeito à natureza.
      </p>
      <p class="m-2">
        Mais informações podem ser encontradas na matéria sobre o projeto feita
        pelo portal de notícias G1 ou nas redes sociais abaixo.
      </p>
      <a
        target="_blank"
        href="https://g1.globo.com/sp/santos-regiao/noticia/2022/10/17/instrutor-de-surfe-dedica-parte-do-tempo-para-ensinar-o-esporte-a-criancas-com-deficiencia-e-especiais.ghtml"
        class="text-[#3e4947] hover:text-[#0ab7b3] font-light underline transform duration-700 ease-in-out font-main"
        >Clique aqui para saber mais</a
      >
    </div>
    <!-- <div class="p-4 text-xl text-[#202734] text-center">
      <h1 class="font-bold text-4xl">Contato</h1>
      <h1>Whatsapp: (11) 9 9999 9999</h1>
      <h1>E-mail: contato@mail.com</h1>
    </div> -->
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&family=Anton&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
  .font-main {
    font-family: "Alexandria", sans-serif;
  }
</style>
