<div class="bg-[#ebeef5] flex flex-col items-center p-4 w-full">
  <h1 class="text-4xl uppercase font-bold text-[#202734] font-main">
    Sobre o projeto
  </h1>
  <div class="flex flex-col gap-2 justify-center">
    <div
      class="self-center p-4 mt-4 text-xl text-[#202734] text-center w-1/2 font-main"
    >
      <p class="m-2">
        Hiego Rodrigo Gomes Pasquali é um instrutor de surfe que se dedica a
        ensinar as crianças com deficiencia e especiais atraves do projeto
        social de nome "Projeto Surfar".
      </p>
      <p class="m-2">
        O Projeto Surfar procura apoiadores que possam ajudar o projeto a
        cescer, vonluntarios que possam estar trabalhando com o Hiego ou
        empresas que possam ajudar para que o projeto possa sempre continuar
        crescer e poder abrir vagas para outras crianças já que o projeto no
        momento atingiu o limite do que seria possivel com o que temos.
      </p>
      <p class="m-2">
        Mais informações podem ser encontradas na materia sobre o projeto feita
        pelo portal de noticias G1.
      </p>
      <a
        target="_blank"
        href="https://g1.globo.com/sp/santos-regiao/noticia/2022/10/17/instrutor-de-surfe-dedica-parte-do-tempo-para-ensinar-o-esporte-a-criancas-com-deficiencia-e-especiais.ghtml"
        class="text-[#0054a3] hover:text-[#6db2b2] font-light underline transform duration-700 ease-in-out font-main"
        >Clique aqui para saber mais</a
      >
    </div>
    <div class="p-4 text-xl text-[#202734] text-center">
      <h1 class="font-bold text-4xl">Contato</h1>
      <h1>Whatsapp: (11) 9 9999 9999</h1>
      <h1>E-mail: contato@mail.com</h1>
    </div>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&family=Anton&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
  .font-main {
    font-family: "Alexandria", sans-serif;
  }
</style>
