---
import Carousel from "../carousel/Carousel.astro";
---

<div class="w-full bg-[#6db2b2] size_third text-[#202734]">
  <div class="flex justify-center gap-12">
    <div class="flex flex-col items-start w-1/4 mt-12">
      <h2 class="text-xl my-4 font-main">Destaque</h2>
      <h1 class="text-2xl font-secondary">
        Precisamos da sua ajuda para manter esse projeto aberto
      </h1>
      <p class="text-base my-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut
        condimentum est, vel ornare lacus. Pellentesque eget fermentum ante.
      </p>
      <button
        class="mt-4 bg-[#202734] hover:bg-[#ebeef5] text-[#ebeef5] hover:text-[#202734] text-2xl font-light uppercase w-1/2 md:w-2/3 py-6 rounded-2xl transform duration-700 ease-in font-don"
        >Doação</button
      >
    </div>
    <div class="flex-none h-full" style="width:500px">
      <Carousel />
    </div>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&family=Anton&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
  .font-main {
    font-family: "Anton", sans-serif;
  }

  .font-don {
    font-family: "Alexandria", sans-serif;
  }
  .size_third {
    height: 650px;
  }
</style>
