---
import Carousel from "../carousel/Carousel.astro";
---

<div class="w-full bg-[#6db2b2] size_third text-[#202734]">
  <div class="flex justify-center gap-12">
    <div class="flex flex-col items-start w-1/4 mt-12">
      <h2 class="text-xl my-4">Destaque</h2>
      <h1 class="text-2xl">
        Precisamos da sua ajuda para manter esse projeto aberto
      </h1>
      <p class="text-base my-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut
        condimentum est, vel ornare lacus. Pellentesque eget fermentum ante.
      </p>
      <button
        class="mt-4 bg-[#202734] hover:bg-[#ebeef5] text-[#ebeef5] hover:text-[#202734] text-2xl font-bold uppercase w-1/2 md:w-2/3 py-6 rounded-2xl transform duration-700 ease-in"
        >Doação</button
      >
    </div>
    <div class="flex-none h-full" style="width:500px">
      <Carousel />
    </div>
  </div>
</div>

<style>
  .size_third {
    height: 650px;
  }
</style>
