---
import Carousel from "../carousel/Carousel.astro";
---

<div
  class="w-full bg-[#022b54] bg_waves size_third text-[#3e4947] pb-4"
  id="destaque"
>
  <div class="flex flex-col md:flex-row justify-center md:gap-12 xl:gap-0">
    <div
      class="bg-[#fffffe]/40 shadow-sm flex flex-col items-start mx-auto xl:mx-0 md:ml-4 xl:ml-12 w-11/12 xl:w-1/3 md:w-2/3 h-fit p-4 rounded-3xl mt-12 md:mt-4"
    >
      <h2 class="text-xl my-4 text-[#022b54] font-main">Destaque</h2>
      <h1 class="text-2xl font-secondary font-don">
        Precisamos da sua ajuda para manter esse projeto aberto
      </h1>
      <p class="text-base md:text-sm xl:text-base text-[#022b54] my-4 font-don">
        As aulas tradicionais são realizadas na praia do Sibratel, e que as
        aulas com simulador são realizadas na pista de patinação na praia do
        Sonho.
      </p>
      <p class="text-base md:text-sm xl:text-base text-[#022b54] my-4 font-don">
        O Surfe skate foi inventado para quando o mar não tiver onda, o
        equipamento é usado por alunos iniciantes para que eles possam aprender
        a se movimentar antes de irem com a prancha ao mar, muito útil também
        para alunos que possuem alguma dificuldade, o simulador de surfe fica
        mais fácil de ensinar o movimento do que na área, além de corrigir,
        fortalecer articulações e movimentos. O surfe skate está ajudando muito
        na parte da coordenação motora e desenvolvimento.
      </p>
    </div>
    <div class="flex-none h-full carrousel_size">
      <Carousel />
    </div>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&family=Anton&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");

  .carrousel_size {
    width: 500px;
  }

  @media (max-width: 420px) {
    .carrousel_size {
      width: fit-content;
    }
  }

  .font-main {
    font-family: "Anton", sans-serif;
  }

  .font-don {
    font-family: "Alexandria", sans-serif;
  }
  .size_third {
    height: 650px;
  }

  @media (max-width: 420px) {
    .size_third {
      height: fit-content;
    }
  }

  .bg_waves {
    background-image: url("/waves.svg");
    background-size: cover;
    background-position: bottom;
    margin-bottom: -2px;
  }
</style>
