---
export interface CardProps {
  titulo: string;
  texto: string;
  link: string;
}

const { titulo, texto, link } = Astro.props;
---

<div
  class="flex text-center md:text-none flex-col xl:flex-row gap-2 p-4 card_size my-2"
>
  <div class="mt-2 xl:mt-0 self-center xl:self-start">
    <slot />
  </div>
  <div>
    <h1 class="xl:text-left text-2xl font-semibold text-[#022b54] font-main">
      {titulo}
    </h1>
    <p class="text-sm text-justify text-[#3e4947] my-2">{texto}</p>
  </div>
</div>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Anton&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
  .font-main {
    font-family: "Lobster Two", cursive;
  }
  .card_size {
    width: 400px;
  }
</style>
