---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero/Hero.astro";
import Second from "../components/second/Second.astro";
import Third from "../components/third/Third.astro";
import About from "../components/about/About.astro";
---

<Layout title="Caridade">
  <main>
    <Hero />
    <Second />
    <Third />
    <About />
  </main>
</Layout>
