---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/hero/Hero.astro";
import Second from "../components/second/Second.astro";
import Third from "../components/third/Third.astro";
import About from "../components/about/About.astro";
import Donation from "../components/donation/Donation.astro";
import Footer from "../components/footer/Footer.astro";
import Contact from "../components/contact/Contact.astro";
---

<Layout title="Projeto Surfar">
  <main class="w-fit md:w-full">
    <Hero />
    <Second />
    <Third />
    <Donation />
    <About />
    <Contact />
    <Footer />
  </main>
</Layout>
