<nav
  class="flex gap-2 justify-evenly items-center py-8 px-2 text-[#ebeef5] font-semibold"
>
  <div class="">
    <h1 class="text-4xl hover:text-[#6db2b2] transform duration-500 ease-in">
      <a href="#">Surfar</a>
    </h1>
  </div>
  <div class="flex gap-4 text-xl">
    <a href="#" class="hover:text-[#6db2b2] transform duration-500 ease-in"
      >Home</a
    >
    <a href="#" class="hover:text-[#6db2b2] transform duration-500 ease-in"
      >Destaque</a
    >
    <a href="#" class="hover:text-[#6db2b2] transform duration-500 ease-in"
      >Doação</a
    >
    <a href="#" class="hover:text-[#6db2b2] transform duration-500 ease-in"
      >Sobre</a
    >
  </div>
</nav>
