<nav
  class="flex gap-2 justify-evenly items-center py-8 px-2 text-[#fffffe] font-semibold font-main"
>
  <div class="">
    <h1
      class="text-3xl md:text-4xl hover:text-[#0ab7b3] transform duration-500 ease-in"
    >
      <a href="#">Surfar</a>
    </h1>
  </div>
  <div class="flex gap-4 md:text-xl">
    <a href="#" class="hover:text-[#0ab7b3] transform duration-500 ease-in"
      >Home</a
    >
    <a href="#" class="hover:text-[#0ab7b3] transform duration-500 ease-in"
      >Destaque</a
    >
    <a href="#" class="hover:text-[#0ab7b3] transform duration-500 ease-in"
      >Doação</a
    >
    <a href="#" class="hover:text-[#0ab7b3] transform duration-500 ease-in"
      >Sobre</a
    >
  </div>
</nav>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Anton&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
  .font-main {
    font-family: "Lobster Two", cursive;
  }
</style>
