<nav
  class="flex gap-2 justify-evenly items-center py-8 px-2 text-white font-semibold border"
>
  <div class="">
    <h1 class="text-4xl">Logo</h1>
  </div>
  <div class="flex gap-4 text-xl">
    <a href="#">Test</a>
    <a href="#">Test</a>
    <a href="#">Test</a>
    <a href="#">Test</a>
  </div>
</nav>
