<footer class="bg-[#202734] text-[#6db2b2] flex flex-col items-center pb-4">
  <div class="flex flex-col items-center mb-4 w-80">
    <h1 class="text-3xl font-semibold text-[#ebeef5] mt-4">Projeto Surfar</h1>
    <h3 class="text-sm text-center mt-2">
      O esporte muda vidas, ajude-nos a continuar dando sorriso para os que mais
      precisam.
    </h3>
  </div>
  <div class="border-y border-[#ebeef5] w-full text-center text-xs">
    <h4 class="py-2">
      <span id="year"></span> - Site criado por Wesley Wilson. Todos os direitos
      reservados.
    </h4>
  </div>
</footer>

<script lang="js">
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
