---
import { Icon } from "astro-icon";
---

<footer class="bg-[#3e4947] text-[#fffffe] flex flex-col items-center pb-4">
  <div class="flex flex-col items-center mb-4 w-80">
    <div
      class="mt-2 w-20 h-20 p-2 text-center text-[#3e4947] bg-[#fffffe] rounded-full"
    >
      <Icon pack="mdi" name="surfing" />
    </div>

    <h1 class="text-3xl font-semibold text-[#ebeef5] mt-4 font-main">
      Projeto Surfar
    </h1>
    <h3 class="text-sm text-center mt-2 font-main">
      O esporte muda vidas, ajude-nos a continuar dando sorriso para os que mais
      precisam.
    </h3>
  </div>
  <div
    class="border-y border-[#ebeef5] w-full text-center text-[9px] font-light font-don"
  >
    <h4 class="py-2">
      <span id="year"></span> - Site criado por Wesley Wilson. Todos os direitos
      reservados.
    </h4>
  </div>
</footer>

<script lang="js">
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>

<style>
  @import url("https://fonts.googleapis.com/css2?family=Alexandria:wght@100;200;300;400;500;600;700;800;900&family=Anton&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
  .font-main {
    font-family: "Lobster Two", cursive;
  }

  .font-don {
    font-family: "Alexandria", sans-serif;
  }
</style>
