<footer class="bg-black text-white flex flex-col items-center pt-8">
  <div class="flex flex-col items-center mb-4 w-80">
    <h1 class="text-3xl font-semibold">Projeto Surfar</h1>
    <h3 class="text-sm text-center mt-2">
      O esporte muda vidas, ajude-nos a continuar dando sorriso para os que mais
      precisam.
    </h3>
  </div>
  <div class="border-t-2 w-full text-center text-xs">
    <h4 class="pt-1">
      <span id="year"></span> - Site criado por Wesley Wilson. Todos os direitos
      reservados.
    </h4>
  </div>
</footer>

<script lang="js">
  document.getElementById("year").innerHTML = new Date().getFullYear();
</script>
