---
import Card from "../card/Card.astro";
---

<div class="bg-gray-200 w-full h-52">
  <div class="flex justify-center gap-2">
    <Card
      titulo="Nossa Missão"
      texto="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut condimentum est, vel ornare lacus. Pellentesque eget fermentum ante."
      link="http://google.com.br"
    />
    <Card
      titulo="Faça uma doação"
      texto="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut condimentum est, vel ornare lacus. Pellentesque eget fermentum ante."
      link="http://google.com.br"
    />
    <Card
      titulo="Voluntarie-se"
      texto="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut condimentum est, vel ornare lacus. Pellentesque eget fermentum ante."
      link="http://google.com.br"
    />
  </div>
</div>
