---
import Card from "../card/Card.astro";
import { Icon } from "astro-icon";
---

<div class="bg-[#fffffe] w-full">
  <div class="flex flex-col md:flex-row justify-center gap-2">
    <Card
      titulo="Nossa Missão"
      texto="Somos um projeto sem fins lucrativos, trazendo inclusão principalmente a crianças que possuem alguma deficiência através do surfe que auxilia na destreza e mobilidade, 100% das doações será utilizado para o projeto e em ajudar essas crianças."
      link="http://google.com.br"
      ><div class="w-12 h-12 text-[#022b54]">
        <Icon pack="mdi" name="heart" />
      </div>
    </Card>
    <Card
      titulo="Faça uma doação"
      texto="As doações em dinheiro serão utilizadas para auxílio em transporte, compra de materiais e equipamentos para o treino das crianças, próteses aquáticas, roupas de surfe, simuladores de surfe, equipamentos de segurança e pranchas, assim como comida para que durante as práticas as crianças tenham o que comer. É uma empresa? Também aceitamos todo tipo de ajuda em equipamentos e materiais, entre em contato conosco."
      link="http://google.com.br"
    >
      <div class="w-12 h-12 text-[#022b54]">
        <Icon pack="iconoir" name="donate" />
      </div>
    </Card>
    <Card
      titulo="Voluntarie-se"
      texto="Quer ajudar? Nós do projeto surfar estamos sempre abertos para receber novos parceiros, pessoas que venham somar aos nossos esforços, que contribuam, financeiramente ou de outras maneiras, para o crescimento deste projeto de inclusão de jovens e crianças no mundo do SURFE."
      link="http://google.com.br"
    >
      <div class="w-12 h-12 text-[#022b54]">
        <Icon pack="mdi" name="charity" />
      </div>
    </Card>
  </div>
</div>
