---
import Card from "../card/Card.astro";
import { Icon } from "astro-icon";
---

<div class="bg-[#ebeef5] w-full">
  <div class="flex justify-center gap-2">
    <Card
      titulo="Nossa Missão"
      texto="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut condimentum est, vel ornare lacus. Pellentesque eget fermentum ante."
      link="http://google.com.br"
      ><div class="w-12 h-12">
        <Icon pack="mdi" name="heart" />
      </div>
    </Card>
    <Card
      titulo="Faça uma doação"
      texto="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut condimentum est, vel ornare lacus. Pellentesque eget fermentum ante."
      link="http://google.com.br"
    >
      <div class="w-12 h-12">
        <Icon pack="iconoir" name="donate" />
      </div>
    </Card>
    <Card
      titulo="Voluntarie-se"
      texto="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut condimentum est, vel ornare lacus. Pellentesque eget fermentum ante."
      link="http://google.com.br"
    >
      <div class="w-12 h-12"><Icon pack="mdi" name="charity" /></div>
    </Card>
  </div>
</div>
